{%  extends  'surveillanceapp/base.html' %}
{% load static %}

{% block extracss %}

    <style>
    .info-box{
        padding: auto;
    }
    #station-panel{
        display: none;   /* hide station-panel in the beginning */
    }
    </style>

{% endblock %}

{%  block main-content %}
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="{% url 'surveillanceapp:index' %}">Home</a></li>
          <li><i class="fa fa-laptop"></i>Dashboard</li>
        </ol>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="info-box blue-bg">
              <i class="fa fa-map-marker"></i>
              <div class="count">4</div>
              <div>Stations</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="info-box green-bg">
              <i class="fa fa-signal"></i>
              <div class="count">5</div>
              <div>Reports Analysed</div>
            </div>
        </div>
          <div class="col-lg-3">
            <div class="info-box weather-bg">
              <i class="fa fa-image"></i>
              <div class="count">10</div>
              <div>Surveillance Video</div>
            </div>
          </div>
    </div>
    <!-- MAP and Station Detail starts -->
    <div class="row">
        <div class="col-lg-8 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2><i class="fa fa-map-marker red"></i><strong>Stations Map</strong></h2>
            <div class="panel-actions">
              <a href="{% url 'surveillanceapp:index' %}" class="btn-setting"><i class="fa fa-refresh"></i></a>
            </div>
          </div>
          <div class="panel-body-map">
            <div id="map" style="height: 550px;width: 100%"></div>
          </div>
        </div>
      </div>
     <!-- MAP ENDS HERE -->
        <div class="col-lg-4">
        <div class="panel panel-default" id="station-panel">
            <div class="panel-heading">
                <h2><i class="fa fa-info-circle"></i><strong>Stations Info</strong></h2>
                <div class="panel-actions"><i class="fa fa-times" id="close-station-info"></i></div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <img src="" style="width: 80%" class="center-block"></li>
                    <li class="list-group-item" >Station Id <p class="lead" id="station-id"> 0001</p></li>
                    <li class="list-group-item" >Station Name <p class="lead" id="station-name">Ratnapark</p></li>
                    <li class="list-group-item" >Latitude Position <p class="lead" id="lat-pos">29.77</p></li>
                    <li class="list-group-item" >Longitude Position <p class="lead" id="lon-pos">36.96</p></li>
                </ul>
              </div>
        </div>
        </div>
    <!-- Station Detail ENDS HERE -->
    </div>
{% endblock %}


{% block extrajs %}


    <script async defer

        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAUsak2E8DcVtc3hUtrg06-pPHER8LXdk&callback=initMap">

    </script>
    <!-- MAP SCRIPT HERE-->
    <script>


        var map;
        function initMap() {
            var loc = {lat: 27.7172, lng: 85.3240};
            map = new google.maps.Map(
                document.getElementById('map'), {zoom: 12, center: loc});


            var coords = {};  //creating an object
            {% for station in stations %}
                coords[{{ station.station_id }}] = {   //array of object
                    id:{{station.station_id }},
                    name: "{{ station.station_name }}",
                    lat:{{ station.lat_pos }},
                    lng:{{ station.lon_pos }}

                };

                console.log(coords[{{ station.station_id }}].lat);
            {% endfor %}

            var i;
            for (i = 1; i <= Object.keys(coords).length; i++) {


            var iw = new google.maps.InfoWindow();  //creating infowindow object

                //initialize the map with markers

                var loc = {lat: coords[i].lat, lng: coords[i].lng};


                var marker = new google.maps.Marker({position: loc, map: map});
                //add event listener

                console.log(coords[i].name + '' + coords[i].lat + '');

                //add event listener using callback function
                google.maps.event.addListener(marker,'click',(function(marker,i) {
                    return function () {
                        document.getElementById("station-id").innerHTML=coords[i].id;
                        document.getElementById("station-name").innerHTML=coords[i].name;
                        document.getElementById("lat-pos").innerHTML=coords[i].lat;
                        document.getElementById("lon-pos").innerHTML=coords[i].lng;
                        document.getElementById('station-panel').style.display='block';
                        //set infowindow content
                        iw.setContent(coords[i].name);
                        iw.open(map, marker);


                    }
                }

              )(marker,i));

        }
        }

        //close-station-info icon listener
        //sets station panel css display attribute to none
        document.getElementById('close-station-info').addEventListener('click',function(){
                           document.getElementById('station-panel').style.display='none';
                        });


    </script>

{% endblock %}




