{% extends 'surveillanceapp/base.html' %}
{% load static %}

<!-- extra css block starts here -->
{% block extracss %}

    <style>
        .station-clickable:hover{
            background: #dddddd;
        }

        .station-clickable{
            cursor: pointer;
        }

        .station-heading{
            background: #546d7d;
            color: #ffffff;
        }

        #add-station{
            margin:5%;
        }

    </style>

{% endblock %}
<!-- extra css block ends here -->

<!-- main content block starts here -->

{%  block main-content %}
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="{% url 'surveillanceapp:index' %}">Home</a></li>
              <li><i class="fa fa-laptop"></i>Stations</li>
            </ol>
        </div>
    </div>

    <!-- add button here -->
    <div class="row">
        <div class="col-lg-3 col-lg-push-9">
            <a href="{% url 'surveillanceapp:stationcreate' %}">
                <button class="btn pull-right bg-primary" id="add-station">
                    <span class="fa fa-edit"> Add New Station</span>
                </button>
            </a>
        </div>
    </div>
    <!-- end of add button -->
    <div class="row">
        {% for station in station_list %}
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading station-heading">
                        <h2><i class="fa fa-map-marker"></i>    Station {{ station.station_id }}</h2>
                    </div>
                    <div class="panel-body station-clickable" data-href="{% url 'surveillanceapp:stationdetails' station.pk %}">
                        <div class="col-lg-6">
                            <img src="{% static station.station_pic.url %}" style="width: 100%;" class="center-block">
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-group">
                                <li class="list-group-item" >
                                    Station Name:
                                    <p class="lead"><strong>{{ station.station_name }}</strong></p>
                                </li>
                                <li class="list-group-item" >
                                    Total Surveillance Videos:
                                    <p class="lead"><strong>{{ station.surveillance_videos.count }}</strong></p>
                                </li>
                                <li class="list-group-item" >
                                    Analytics Progress:
                                    <div class="progress thin" style="margin: 2%;">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 75%; background: #d8ab5a;">
                                        </div>
                                        <div class="progress-bar" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 25%; background: #394a59;">
                                        </div>
                                    </div>
                                    <span class="sr-only">73%</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
<!-- main content block ends here -->

<!-- extra script block starts here -->
{% block extrajs %}
    <script>
        //making table row clickable
        stations = document.querySelectorAll('.station-clickable');
        stations.forEach(function (station) {
            station.addEventListener('click',function () {
                window.location.href = this.getAttribute('data-href');
            })
        })
    </script>
{% endblock %}

<!-- extra script block ends here -->
