{% extends 'surveillanceapp/base.html' %}
{% load static %}

{% block extracss %}
    <style>

    </style>
{% endblock %}

{%  block main-content %}

    <!--station detail start -->
    <!--overview start-->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="{% url 'surveillanceapp:index' %}">Home</a></li>
                <li><i class="fa fa-laptop"></i><a href="{% url 'surveillanceapp:stationlist' %}">Stations</a></li>
              <li><i class="fa fa-map-marker"></i>{{ station.station_name }}</li>
            </ol>
          </div>
    </div>

    <div class="col-lg-12">
        <!-- station map starts here -->
        <div id="station-map" style="width:auto;height:150px;"></div>
        <!-- station map ends here -->
    </div>
    <!-- station detail starts here -->
    <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-taxi"></i> Station Details</div>
        <div class="panel-body">
        <div class="col-lg-7">
            <div class="panel-body bio-graph-info">

              <div class="bio-row">
                <p><span>Station ID </span>: {{ station.station_id }} </p>
              </div>
              <div class="bio-row">
                <p><span>Station Name </span>: {{ station.station_name }} </p>
              </div>
              <div class="bio-row">
                <p><span>Latitude</span>: {{ station.lat_pos }}</p>
              </div>
              <div class="bio-row">
                <p><span>Longitude</span>: {{ station.lon_pos }}</p>
              </div>
            </div>
        </div>
            <!-- station pic here -->
        <div class="col-lg-5">
            <img class="img-responsive center-block" src="{% static station.station_pic.url %}" alt="{{ station.station_name }}" style="height: 150px;">
        </div>
        </div>
        </div>
    </div>
    </div>

    <!-- station detail ends here -->

    <!-- surveillance video list starts here -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2><i class="fa fa-list"></i><strong>Surveillance Videos</strong></h2>
              </div>
              <div class="panel-body">
                 <div>
                 <div class="pull-left"><i class="fa fa-camera"> </i> count Videos</div>
                 <!--
                     <div class="col-lg-3 pull-right"><i class="fa"> </i> count Analysed</div>
                   -->
                 <hr>
                 </div>


                 <table class="table">
                     <thead>
                        <tr>
                            <th>Image</th>
                            <th>TimeStamp</th>
                            <th>Station</th>
                            <th>Report</th>
                            <th>Statistical Report</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                     <tbody>
                     {%  for v in video %}
                     <tr>
                         <td>
                             <!--video thumbinal here-->
                         </td>
                         <td>
                             <!-- video timestamp here -->
                            {{ v.timestamp }}
                         </td>
                         <td>
                             <!--station name here -->
                             {{ station.station_name }}
                         </td>
                         <td>
                             <!--report generated boolean field here-->
                             {% if v.report == False%}
                                <i class="fa fa-times"></i>
                             {% else %}
                                 <i class="fa fa-check green"></i>
                             {% endif %}
                         </td>
                         <td>
                             <!--statistical report overview here -->
                         </td>
                         <td>
                             <!--actions here : delete, edit -->
                             <i class="fa fa-trash-o"></i>
                         </td>
                     </tr>
                     {% endfor %}

                     </tbody>
                 </table>

              </div>
            </div>
        </div>
    </div>
    <!-- surveillance video list ends here -->

{% endblock %}

{% block extrajs %}
    <!-- map script-->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAUsak2E8DcVtc3hUtrg06-pPHER8LXdk&callback=initMap">
    </script>
    <script>
        //initialize map
        var map;
        function initMap() {
            //get station coordinates in js object
            var coords = {
                lat: {{ station.lat_pos }},
                lng:{{ station.lon_pos }}
            };
            map = new google.maps.Map(
                document.getElementById('station-map'),
                {   zoom: 17,
                    center: coords,
                    zoomControl:false,
                    scaleControl:false,
                    panControl:false}
                );
            var iw=new google.maps.InfoWindow();  //initialize info window


            var marker = new google.maps.Marker({ position: coords, map: map }); //show the marker in map

            //marker onclick event handler
            marker.addListener('click',function(){
                iw.setContent('{{ station.station_name }}');
                iw.open(map, marker);
            });

        }
    </script>

{% endblock %}
