{% extends 'surveillanceapp/base.html' %}
{% load static %}

{%  block main-content %}
    <!--station list start -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="{% url 'surveillanceapp:index' %}">Home</a></li>
              <li><i class="fa fa-laptop"></i>Stations</li>
            </ol>
          </div>
        </div>


    <!--station list starts here -->
    <div class="row">
    <div class="col-lg-11 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2><i class="fa fa-list"></i><strong>Station List</strong></h2>
          </div>
          <div class="panel-body">
            <table class="table bootstrap-datatable countries">
            <thead>
                <tr>
                    <th></th>
                    <th>Station Name</th>
                    <th>Station ID</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Analysis Progress</th>
                </tr>
              </thead>
            {% for station in object_list %}
            <a href="{% url 'surveillanceapp:stationdetails' station.pk %}">
            <tbody>
                <tr>
                    <td><img src="{% static 'img/ratnapark.jpg' %}" style="height:50px; margin-top:-2px;" class="center-block"></td>
                    <td>{{ station.station_name}}Name</td>
                    <td>{{ station.station_id}}ID</td>
                    <td>{{ station.lat_pos}}73</td>
                    <td>{{ station.lang_pos}}64</td>
                    <td>
                    <div class="progress thin">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                      </div>
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                      </div>
                    </div>
                    <span class="sr-only">73%</span>
                  </td>
                </tr>
              </tbody>
            </a>
            {% endfor %}
            </table>
        </div>
        </div>
    </div>
    </div>
    <!--station list ends here -->


{% endblock %}
