{% extends 'surveillanceapp/base.html' %}
{% load static %}

{% block extracss %}
    <style>

    </style>
{% endblock %}

{%  block main-content %}



    <!--station detail start -->
    <!--overview start-->
    <div class="row">
        <div class="col-lg-12">

            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="{% url 'surveillanceapp:index' %}">Home</a></li>
                <li><i class="fa fa-laptop"></i><a href="{% url 'surveillanceapp:stationlist' %}">Stations</a></li>
              <li><i class="fa fa-map-marker"></i>{{ station.station_name }}</li>
            </ol>
          </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#">Overview</a></li>
              <li><a data-toggle="tab" href="#">Performance Charts</a></li>

            </ul>
        </div>
    </div>
    <div class="row" style="margin-top:8px;">
        <!-- station map starts here -->
            <div class="col-lg-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Station Map</div>
                    <div class="panel-body">
                        <div id="station-map" style="width:auto;height:300px;">

                        </div>
                    </div>
                </div>
            </div>
        <!-- station map ends here -->


              <div class="col-lg-3">
                <!--station info here -->

                    <div class="info-box blue-bg" style="margin-bottom: 5px;">

                      <div>{{ station.station_name }}</div><br>
                      <div class="fa fa-location-arrow">Lat: {{ station.lat_pos }}</div><br>
                      <div class="fa fa-location-arrow">Lng: {{ station.lon_pos}}</div>

                     </div>

                <!-- station info ends here -->



              <!-- station photo here -->

                    <img class="img-responsive" src="{% static station.station_pic.url %}"
                         alt="{{ station.station_name }}" style="width:auto; height:200px;">

                <!-- station photo ends here -->

              </div>
              <div class="col-lg-4">
                    <div class="info-box green-bg">
                      <i class="fa fa-signal"></i>
                      <div class="count">GRAPH HERE</div>
                    </div>
              </div>



     <!-- station info ends here -->
    </div>
    <!-- surveillance video list starts here -->
    <div class="row">

        <div class="col-lg-12 col-md-12">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h2><i class="fa fa-list"></i><strong>Surveillance Videos</strong></h2>

              </div>

              <div class="panel-body">

                <!--table starts here-->
                <table class="table bootstrap-datatable countries">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Analytics</th>

                    </tr>
                  </thead>
                </table>
              </div>
            </div>
    </div>
    <!-- surveillance video list ends here -->


{% endblock %}

{% block extrajs %}
    <!-- map script-->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAUsak2E8DcVtc3hUtrg06-pPHER8LXdk&callback=initMap">

    </script>


    <script>

        //initialize map
        var map;
        function initMap() {
            //get station coordinates in js object
            var coords = {
                lat: {{station.lat_pos }},
                lng:{{station.lon_pos }}
            };

            map = new google.maps.Map(
                document.getElementById('station-map'),
                {   zoom: 18,
                    center: coords,
                    zoomControl:false,
                    scaleControl:false,
                    panControl:false}
                );

            var iw=new google.maps.InfoWindow();  //initialize info window


            var marker = new google.maps.Marker({position: coords, map: map}); //show the marker in map

            //marker onclick event handler
            marker.addListener('click',function(){
                iw.setContent('{{ station.station_name }}');
                iw.open(map, marker);
            });

        }
    </script>

{% endblock %}
