{% extends 'surveillanceapp/base.html' %}
{% load static %}

{% block extraheadjs %}
    <script src="{% static 'js/highcharts.js' %}"></script>
{% endblock %}

{% block main-content %}
    <div class="row">
        <div class="col-lg-2">
            <button id="video-play-btn" class="btn btn-block btn-primary">Play Video</button>
        </div>
        <div class="col-lg-8">
            <div class="progress" style="margin-top:1%; background: #394a59;">
                <div id="video-progress-bar" class="progress-bar video-progress" role="progressbar" style="width: 0%; background: #d8ab5a;">
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            {% if not video.report %}
                <button data-href="" id="report-btn" class="btn btn-block btn-success pull-right" style="display: none">
                    View Report
                </button>
            {% else %}
                <button data-href="{% url 'surveillanceapp:report' video.station.station_id video.video_id %}" id="report-btn" class="btn btn-block btn-success pull-right">
                    View Report
                </button>
            {% endif %}
        </div>
    </div>
    <div class="row" style="padding-top: 2%">
        <div id="graph-body" class="col-lg-12">
            <div class="col-lg-6" id="number-graph">

            </div>
            <div class="col-lg-6" id="congestion-graph">

            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 2%">
        <div id="bargraph" class="col-lg-10 col-lg-push-1">
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        var playbtn = document.querySelector('#video-play-btn');
        var reportbtn = document.querySelector('#report-btn');
        var progressbar = document.querySelector('#video-progress-bar');
        var socket = null;
        var numbergraph;
        var congestiongraph;
        var bargraph;
        var bargraphoptions;

        function cleargraph() {
            numbergraph = Highcharts.chart('number-graph', {
                credits:{
                    enabled: false
                },
                title: {
                    text: 'Total Number of Vehicles per second interval'
                },
                plotOptions: {
                    series: {
                        pointStart: 1
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of Vehicles'
                    }
                },
                xAxis: {
                    title: {
                        text: 'Time(seconds)'
                    }
                },
                series: [{
                    name: 'No.of vehicles',
                    color: '#296789',
                    data: []
                }]
            });

            congestiongraph = Highcharts.chart('congestion-graph', {
                credits:{
                    enabled: false
                },
                title: {
                    text: 'Approx Vehicle Congestion per second interval'
                },
                plotOptions: {
                    series: {
                        pointStart: 1
                    }
                },
                yAxis: {
                    title: {
                        text: 'Congestion Index'
                    }
                },
                xAxis: {
                    title: {
                        text: 'Time(seconds)'
                    }
                },
                series: [{
                    name: 'Congestion index',
                    color: '#7c212c',
                    data: []
                }]
            });

            bargraphoptions = {
                credits:{
                    enabled: false
                },
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Real-time plot of no. of vehicles in the road by Vehicle Class'
                },
                xAxis: {
                    categories: ['Tempo', 'Bike', 'Car', 'Taxi', 'Micro', 'Pickup', 'Bus', 'Truck'],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    max: 20,
                    title: {
                        text: 'No.of vehicles',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                series: [{
                    name: 'No.of vehicles',
                    color: '#1d6c0e',
                    data: []
                }]
            };

            bargraph = Highcharts.chart('bargraph', bargraphoptions);
        }

        playbtn.addEventListener('click',function (event) {
            video_url = '{{ video.video_id }}';
            socket = new WebSocket('ws://'+window.location.host+'/video/'+video_url);

            socket.onopen = function open() {
                console.log('Main Websocket connection has opened successfully');
                socket.send(JSON.stringify({
                    'start': true,
                    'message': 'You can start the video'
                }));
                reportbtn.style.display = 'none';
            };
            socket.onclose = function close(ev) {
                console.log('Main Websocket connection is now being closed');
                reportbtn.style.display = 'inline';
                reportbtn.setAttribute('data-href',"{% url 'surveillanceapp:report' video.station.station_id video.video_id %}")
            };
            socket.onmessage = function message(event) {
                var received = JSON.parse(event.data);
                if(received['type'] == 'eof'){
                    socket.close(1000,'Server closed it');
                    {#showbtn();#}
                }
                else if(received['type'] == 'progress') {
                    progressbar.style.width = received['percentage'].toString()+'%';
                    progressbar.textContent = received['percentage'].toString()+'%';
                }
                else if(received['type'] == 'normal') {
                    var numbercount = received['numbercount'];
                    var congcount = received['congcount'];
                    var vclasscount = received['vclasscount'];
                    var shift = numbergraph.series[0].data.length > 20;
                    numbergraph.series[0].addPoint(numbercount, true, shift);
                    congestiongraph.series[0].addPoint(congcount, true, shift);
                    bargraphoptions.series[0].data = vclasscount;
                    bargraph.update(bargraphoptions,true);
                }
            };
            if(socket.readyState == WebSocket.OPEN){
                socket.onopen();
            }

            cleargraph();
            reportbtn.style.display = 'none';
        });

        reportbtn.addEventListener('click',function (ev) {
            window.location.href = this.getAttribute('data-href');
        });

    </script>
{% endblock %}